.container
  .row
    .col-md-3.col-md-offset-3
      =link_to 'Новый Заказчик', new_customer_path, class: 'btn btn-success'
    .col-md-9
      %hr
  .row
    .col-md-9
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Имя
            %th Номер
            %th Пользователь
            %th Кол-во заказов
            %th До бесплатной осталось
            %th Действия
        %tbody
          - @customers.each do |customer|
            %tr
              %td=customer.name
              %td=customer.number_code
              %td=customer.user.name
              %td=customer.payments_count
              -if customer.next_free?
                %td.text-danger
                  БЕСПЛАТНАЯ
              -else
                %td.text-info= customer.free_payment_left
              %td
                = link_to 'Новый Заказ', new_customer_payment_path(customer) ,class:'btn btn-xs btn-success'
                = link_to 'Показать', customer_payments_path(customer) ,class:'btn btn-xs btn-info'
                = link_to 'Редактировать', edit_customer_path(customer) ,class:'btn btn-xs btn-warning'