-if @free
  .alert.alert-info.free-car-wash
    %button.close{type:'button', 'data-dismiss'=>'alert'}  ×
    =@free
.container
  .row
    .col-lg-6.col-lg-offset-2
      %h1 New payment
      = render 'form'

